{% block page-wrapper %}

<div class="row">
            <div class="breakcrombs">


<ul class="breadcrumb">


            <li>

            	<a href="/">Início</a>

            </li>



            <li class="active">Pessoas Fisicas</li>


</ul>

            </div>
        </div>

<!-- Content -->
        <div id="content" class="colM">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                <h1>Pessoas Fisicas</h1>
                </div>
                <div class="col-md-6 col-sm-12 text-right">

<a class="btn btn-primary" href="{% url 'adicionar_pf' %}">Adicionar Pessoa</a>

                </div>
            </div>

<table class="table table-striped">
    <thead>
    <tr>
         <th>Nome</th>

        <th class="col-sm-3">Ações</th>
    </tr>
    </thead>
    <tbody>
{% for pf in pfs %}
        <tr>
             <td>{{ pf.nome }}</a></td>

            <td>
                <a class="btn btn-sm btn-default" href="#" title="Editar"><i class="fa fa-edit"></i> Editar</a>
                <a class="btn btn-sm btn-default" href="#" title="Excluir"><i class="fa fa-trash-o fa-fw"></i> Excluir</a>

            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

<!--
              <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if campeonatos.has_previous %}
                           <li><a href="?page={{ contacts.previous_page_number }}">Anterior</a></li>
                        {% endif %}
                        <li>
                            <a href="#">Página {{ campeonatos.number }} de {{ campeonatos.paginator.num_pages }}</a></li>
                        </li>
                        {% if campeonatos.has_next %}
                            <li><a href="?page={{ campeonatos.next_page_number }}">Próximo</a></li>
                        {% endif %}
                    </ul>
                </div>-->
{% endblock %}

