{% load bootstrap3 %}
{% block page-wrapper %}

<div class="row">
            <div class="breakcrombs">


<ul class="breadcrumb">


            <li>

            	<a href="/">Início</a>

            </li>



            <li>

            	<a href="{% url 'listar_pj' %}">Pessoas Juridicas</a>

            </li>



            <li class="active">Adicionar Pessoa Juridicas</li>


</ul>

            </div>
        </div>

 <!-- Content -->
        <div id="content" class="colM">


{% block content %}
<form  method="post" class="form-horizontal">{% csrf_token %}
    <div class="row">
                <div class="col-md-6 col-sm-12">


<h1>Adicionar Pessoa Juridica</h1>

                </div>
                <div class="col-md-6 col-sm-12 text-right">

<button class="btn btn-primary" type="submit">Salvar</button>

                </div>
            </div>
<div class="panel panel-default">
    <div class="panel-body">
    {% bootstrap_form pj_form layout='horizontal' %}
    </div>
</div>
</form>
            </div>
{% endblock %}
{% endblock %}