{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Imperium RN - Blog</title>

    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />

    {% block meta %}{% endblock meta %}

    <!-- Bootstrap Core CSS -->
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static 'my_zinnia/theme/css/bootstrap.min.css' %}" />

    <!-- Theme CSS -->
    <link type="text/css" media="screen, projection" href="{% static 'my_zinnia/theme/css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'my_zinnia/theme/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="print" href="{% static "zinnia/theme/css/print.css" %}" />
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}

</head>

<body class="entry-list paginated">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/blog"><img src="{% static 'img/logo.png' %}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/blog">Início</a>
                </li>
                <li>
                    <a href="/blog/about.html">Sobre</a>
                </li><!--
                <li>
                    <a href="contact.html">Contact</a>
                </li>-->
                <li>
                    <a href="/">Site Leilões</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({% static "img/home-bg.png" %})">


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <h1>Imperium Leilões</h1>
                <hr class="small">
                <span class="subheading">A energia do leilão no conforto da sua casa ou escitório! </span>
                <span class="subheading">Venha você também! </span>
            </div>
        </div>
    </div>
</div>
</header>

 <!--
<div class="container">
    <div class="row">
        <div class="col-md-8">
                 <header id="header" role="banner">
                    <nav>
                      <ul class="top-navigation">
                        <li>
                          <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
                            {% trans "Sitemap" %}
                          </a>
                        </li>
                        <li>
                          <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last entries" %}" class="feeds">
                            {% trans "RSS feed" %}
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <form method="get" action="{% url 'zinnia:entry_search' %}">
                      <p>
                        <input type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
                        <input type="submit" class="submitbutton" value="OK" />
                      </p>
                    </form>
                    <h1>
                      <a href="{% url 'zinnia:entry_archive_index' %}" title="Zinnia's Weblog" rel="home">
                        <img class="img-responsive" src="{% static 'images/logoazul.png' %}">
                      </a>
                    </h1>
                    <blockquote>
                      <p>{% trans "Luã Costa - Leiloeiro." %}</p>
                    </blockquote>
                    {% block breadcrumbs %}{% endblock breadcrumbs %}
                  </header>-->
            <!-- {% block slider %}{% endblock slider %}
           <h1 class="page-header">
                Início
                <small>Últimas Notícias</small>
            </h1>-->

              <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="hfeed" role="main">
                    Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.

Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.

What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.

A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.

For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.

The Final Frontier
There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.

There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.

The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.
Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
                </div>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                         <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; ImperiumRN 2017. Todos os direitos reservados. Adaptado por <a href="http://www.g4systems.com.br" target="_blank">G4 SYSTEMS</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'my_zinnia/theme/js/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'my_zinnia/theme/js/bootstrap.min.js'%}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'my_zinnia/theme/js/jqBootstrapValidation.js'%}"></script>
    <script src="{% static 'my_zinnia/theme/js/contact_me.js'%}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'my_zinnia/theme/js/clean-blog.min.js'%}"></script>
</body>


</html>
