{% extends "zinnia/skeleton.html" %}

{% load i18n %}
{% load zinnia %}

{% block meta-keywords %}{% get_tags as entry_tags %}{{ entry_tags|join:", "}}{% endblock meta-keywords %}

{% block meta %}
<meta name="generator" content="Zinnia {{ ZINNIA_VERSION }}" />
{% endblock meta %}

{% block link %}
<link rel="index" href="{% url 'zinnia:entry_archive_index' %}" />
<link rel="author" type="text/plain" href="{% url 'zinnia:humans' %}" />
<link rel="EditURI" type="application/rsd+xml" href="{% url 'zinnia:rsd' %}" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url 'zinnia:wlwmanifest' %}" />
<link rel="search" type="application/opensearchdescription+xml" title="Zinnia's Weblog" href="{% url 'zinnia:opensearch' %}" />
<link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last entries" %}" href="{% url 'zinnia:entry_feed' %}" />
<link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last discussions" %}" href="{% url 'zinnia:discussion_feed' %}" />
{% get_archives_entries "zinnia/tags/entries_archives_link.html" %}
{% endblock link %}

{% block breadcrumbs %}
{% trans "Blog" as root_name %}
{% zinnia_breadcrumbs root_name %}
{% endblock breadcrumbs %}

{% block sidebar %}
<!--<aside id="widget-welcome" class="widget">-->
<!--<h3>{% trans "Welcome!" %}</h3>-->
<!--<p>-->
<!--{% trans "This simple theme is the default appearance of Zinnia." %}-->
<!--</p>-->
<!--<p>-->
<!--{% trans "Don't hesitate to override the template <strong>zinnia/base.html</strong> to start <a href='http://docs.django-blog-zinnia.com/en/latest/how-to/customize_look_and_feel.html'>customizing your Weblog</a>." %}-->
<!--</p>-->
<!--</aside>-->

<!--<div class="col-md-4">

    <div class="well">
        <h4>Busca</h4>


        &lt;!&ndash;   <div class="row">
             <div class="col-lg-6">
                  <div class="input-group">
                      <form method="get" action="{% url 'zinnia:entry_search' %}">
                        <p>
                          <input class="form-control" type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
                          <span class="input-group-btn">
                          <input type="submit" class="btn btn-default glyphicon glyphicon-search" value="OK" />
                            <span class="glyphicon glyphicon-search"></span>
                        </p>
                      </form>
                    </div>
             </div>
           </div>&ndash;&gt;
        <div class="input-group">
            &lt;!&ndash;<form method="get" action="{% url 'zinnia:entry_search' %}">&ndash;&gt;
            <input type="text" class="form-control" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %}>
            <span class="input-group-btn">
                <input type="submit" class="btn btn-default glyphicon glyphicon-search" value="OK" />
            </span>
            &lt;!&ndash;</form>&ndash;&gt;
        </div>
    </div>

    &lt;!&ndash; Blog Search Well &ndash;&gt;
    <div class="well">
        <h4>{% trans "Categories" %}
        </h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    {% get_categories %}
                </ul>
            </div>
        </div>
    </div>

    &lt;!&ndash; Blog Search Well &ndash;&gt;
    <div class="well">
        <h4>{% trans "Authors" %}
        </h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>{% get_authors %}</li>
                </ul>
            </div>
        </div>
    </div>

    &lt;!&ndash; Blog Search Well &ndash;&gt;
    <div class="well">
        <h4>{% trans "Calendar" %}
        </h4>
        <div class="row">
            <div class="col-lg-6">
                {% get_calendar_entries %}
            </div>
        </div>
    </div>

    &lt;!&ndash;<aside id="widget-tags" class="widget">
      <h3>
        <a href="{% url 'zinnia:tag_list' %}">{% trans "Tags" %}</a>
      </h3>
      {% get_tag_cloud %}
    </aside>&ndash;&gt;
    &lt;!&ndash; Blog Search Well &ndash;&gt;
    <div class="well">
        <h4>{% trans "Recent entries" %}
        </h4>
        <div class="row">
            <div class="col-lg-6">
                {% get_recent_entries %}
            </div>
        </div>
    </div>

    &lt;!&ndash;<aside id="widget-comments" class="widget">
      <h3>{% trans "Recent comments" %}</h3>
      {% get_recent_comments %}
    </aside>&ndash;&gt;
    &lt;!&ndash;<aside id="widget-randoms" class="widget">
      <h3>{% trans "Random entries" %}</h3>
      {% get_random_entries %}
    </aside>&ndash;&gt;
    <div class="well">
        <h4>{% trans "Popular entries" %}
        </h4>
        <div class="row">
            <div class="col-lg-6">
                {% get_popular_entries %}
            </div>
        </div>
    </div>


    &lt;!&ndash;<aside id="widget-archives" class="widget">
      <h3>{% trans "Archives" %}</h3>
      {% get_archives_entries_tree %}
    </aside>&ndash;&gt;
    {% if user.is_authenticated %}
    <aside id="widget-tools" class="widget">
        <h3>{% trans "Tools" %}</h3>
        <ul>
            {% if perms.zinnia %}
            <li>
                <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
                {% trans "Dashboard" %}
                </a>
            </li>
            {% endif %}
            {% if perms.zinnia.add_entry %}
            <li>
                <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
                {% trans "Post an entry" %}
                </a>
            </li>
            {% endif %}
            {% block admin-tools %}
            {% endblock admin-tools %}
            <li>
                <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
                {% trans "Log out" %}
                </a>
            </li>
        </ul>
    </aside>
</div>-->
{% endif %}
{% endblock sidebar %}
