{% load comments i18n %}

<form action="/comments/post/" method="post" id="comment-form" novalidate>
    <div>{% csrf_token %}</div>
    <fieldset>
        <p>Publique seu comentário!</p>
        <input type="hidden" name="next" value="/blog/comments/success/">
        <input id="id_content_type" name="content_type" type="hidden" value="zinnia.entry">
        <input id="id_object_pk" name="object_pk" type="hidden" value="1">
        <input id="id_timestamp" name="timestamp" type="hidden" value="1500993949">
        <input id="id_security_hash" maxlength="40" minlength="40" name="security_hash" type="hidden" value="7d333575805211a9a5091f652d516aa006a1669f">

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label for="id_name">Nome:</label>
                <input type="text" id="id_name" class="form-control" placeholder="Nome" maxlength="50" name="name" type="text" required data-validation-required-message="Porfavor, informe um nome!">
                <p class="help-block text-danger"></p>
            </div>
        </div>

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label for="id_email">Endereço de e-mail:</label>
                <input type="email" class="form-control" placeholder="E-mail" id="id_email" name="email" type="email" required data-validation-required-message="Porfavor, informe um e-mail válido!">
                <p class="help-block text-danger"></p>
            </div>
        </div>

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label  for="id_url">URL:</label>
                <input class="form-control" placeholder="URL" id="id_url" name="url" type="url" required data-validation-required-message="Porfavor, entre com uma URL! ">
                <p class="help-block text-danger"></p>
            </div>
        </div>

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label for="id_comment">Comentário:</label>
                <textarea class="form-control" placeholder="Messagem" cols="50" id="id_comment" maxlength="3000" name="comment" rows="5" required data-validation-required-message="Porfavor, escreva uma mensagem!"></textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>

        <div class="row control-group"style="display:none;">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label for="id_honeypot">Se você inserir qualquer coisa neste campo, seu comentário será tratado como spam:</label>
                <input class="form-control" id="id_honeypot" name="honeypot" type="text">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
            <div class="form-group col-xs-12">
                <input type="submit" align="right" name="submit" class="btn btn-default submit-post" value="Publicar">
                <input type="submit" align="right" name="preview" class="btn btn-default submit-preview" value="Visualizar">
            </div>
        </div>
    </fieldset>
</form>

<!--
<form action="{% comment_form_target %}" method="post" id="comment-form"  novalidate>
  <div>{% csrf_token %}</div>
  {% if form.non_field_errors %}
  <div class="error">
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  <fieldset>
    <legend>{% trans "Post your comment" %}</legend>
    <input type="hidden" name="next" value="{% url 'zinnia:comment_success' %}"/>
    {% for field in form %}
    {% if field.is_hidden %}{{ field }}{% else %}
    {% if user.email and field.name in "namemailurl" %}{% else %}
    <div{% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
      {{ field.label_tag }}
      {% if field.errors %}{{ field.errors }}{% endif %}
      {{ field }}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    <p class="auth">
      {% trans "Comment as" %} <strong>{% firstof user.get_full_name user.get_username %}</strong>. <a href="{% url 'admin:logout' %}">{% trans "Log out" %}</a>.
    </p>
    {% endif %}
     <div class="row">
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-default">Send</button>
            <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
            <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
        </div>
    </div>
  </fieldset>
</form>-->
