{% extends 'inicio_admin.html' %}
{% load bootstrap3 l10n %}
{% block page-wrapper %}
<div class="col-md-12">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Adicionando Novo Leilão</div>

            <div class="panel-options">
                <a href="{% url 'listar_leiloes' %}" data-rel="collapse"><i class="glyphicon glyphicon-list"></i> Lista Leilões</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="tab-pane active" id="tab1">
                    <div class="tab-content">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="titulo" class="col-sm-2 control-label">Titulo</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="titulo" >
                                    </div>
                                </div>



                                <div class="form-group">
                                        <label for="leiloeiro" class="col-sm-2 control-label">Leiloeiro</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="leiloeiro" placeholder="Leiloeiro">
                                             <div class="form-group btn btn-success add_autor">+Autor</div>
                                        </div>

                                </div>





                                <div class="form-group">
                                    <label for="categoria" class="col-sm-2 control-label">Categoria</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="categoria" placeholder="Categoria">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="data" class="col-sm-2 control-label">Data</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="data" placeholder="Data">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Imagem</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" placeholder="Textarea" rows="3" id="foto"></input>
                                    </div>
                                </div>



                    </div>
                            </div>
                </div>
            </div>

            <div class="well" style="margin-top:30px;">
                <button type="button" class="btn btn-default">Voltar</button>
                <button type="button" class="btn btn-primary pull-right">Enviar</button>
            </div>
             </form>

        </div>

    </div>
</div>

{% endblock %}
