{% extends 'inicio_admin.html' %}
{% load bootstrap3 l10n %}
{% block page-wrapper %}
<div class="col-md-12">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Adicionando Novo Leilão</div>

            <div class="panel-options">
                <a href="{% url 'listar_imovel' %}" data-rel="collapse"><i class="glyphicon glyphicon-list"></i> Lista Imoveis</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="tab-pane active" id="tab1">
                    <div class="tab-content">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}

                            <div class="col-sm-6">
                                <div class="form-group">
                                   {% bootstrap_form leilao_form layout='horizontal' %}
                                </div>
                            </div>


                    </div>
                </div>
            </div>

            <div class="well" style="margin-top:30px;">
                <button type="submit" class="btn btn-default">Voltar</button>
                <button type="submit" class="btn btn-primary pull-right">Enviar</button>
            </div>

             </form>
        </div>

    </div>
</div>

{% endblock %}
