{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Imperium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
    <!-- Vendor Styles -->
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <!-- Block Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/gallery-1.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="pull-left hidden-xs"><i class="fa fa-clock-o"></i><span>Seg - Sab 8.00 - 18.00. Domingo FECHADO</span></p>
                    <p class="pull-right"><i class="fa fa-phone"></i>Tel (+55) 123-456-789</p>
                </div>
            </div>
        </div>
    </div>
    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'img/logoazul.png' %}" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Inicio</a></li>
                        <li><a href="#">Leilões</a></li>
                        <li><a href="../../blog/">Jurídico Contábil</a></li>
                        <li><a href="../../blog/">Licitações</a></li>
                        <li><a href="{% url 'imovel' %}">Imóveis</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <section id="inner-headline">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="pageTitle">OFERTAR LANCES</h3>
                </div>
            </div>
        </div>
    </section>


    <section class="section-padding white-bg">
        <div class="container">
            <br>
            <div class="row col-md-12">

                <div class="col-md-2 col-sm-3 col-xs-4">
                    <div class="panel pane-default">
                        <div class="panel-body">
                            <img src="http://www.proturfe.com.br/admin/imagens_admin/842014153842_martelo.png" class="img-responsive">
                        </div>
                    </div><br>
                    <div class="col-md-12">
                        <div class="block-heading-two">
                            <h4><p>Lista de Lotes</p></h4>
                        </div>
                        <div class="table-responsive" style="height:210px; background-color:#F2F2F2; overflow:auto;">
                            <table class="table table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                {% for lote in lotes %}
                                <tr>
                                    <a href="#">
                                        <td>--</td>
                                        <td>{{lote.num_lote}}</td>
                                    </a>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>

                <div class="col-md-6 col-sm-7 col-xs-12">
                    <div class="panel panel-default ">
                        <div class="panel-heading">
                            <h1 class="panel-title text-center">NOME DO LOTE</h1>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>Modalidade</td>
                                    <td>Presencial / Online</td>
                                </tr>
                                <tr>
                                    <td>Local do leilão</td>
                                    <td itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                        <span itemprop="name"></span><meta itemprop="address" content="03873000">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title text-center">LEILÃO</h1>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered ">
                                <thead>
                                <tr class="active ">
                                    <th>Abertura</th>
                                    <th>Fechamento</th>
                                    <th>Lance Inicial</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="#lote_descricao" title="Descrição do lote" data-toggle="tab">LOTE</a>
                        </li>
                        <li role="presentation">
                            <a href="#condicoes_venda" title="Condições de venda" data-toggle="tab">Condições</a>
                        </li>
                        <li role="presentation">
                            <a href="#mapa_localizacao" title="Endereço do lote" data-toggle="tab">Endereço</a>
                        </li>
                        <li role="presentation">
                            <a href="#manifesto_juiz" title="Manifesto do juiz" data-toggle="tab">Manifesto</a>
                        </li>
                    </ul>
                    <div class="tab-content"><br>
                        <div id="lote_descricao" class="tab-pane active">
                            <p>Descrição curta e completa do Lote</p>
                        </div>
                        <div id="condicoes_venda" class="tab-pane">Indisponível</div>
                        <div id="mapa_localizacao" class="tab-pane">
                            <p class="well well-sm">
                                <abbr class="initialism">Endereço:</abbr>&nbsp;Pau dos Ferros - RN</p>
                            <p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.2239351171343!2d-38.207775685738476!3d-6.100514995582531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bb330966ae6859%3A0xeb03d70207d0dcc4!2sG4+Systems!5e0!3m2!1spt-BR!2sbr!4v1504216930452" width="525" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </p>
                        </div>
                        <div id="manifesto_juiz" class="tab-pane">
                            Indisponível
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title text-center">LINKS ÙTEIS</h1>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-file-text fa-fw"></i>  Edital
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-play-circle fa-fw"></i>  Transmissão ao Vivo
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-print fa-fw"></i>  Imprmir Lotes
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa  fa-eye  fa-fw"></i>  Observações
                                </a>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">TELA DE LANCES</h2>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 lote-galeria">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active" role="presentation">
                                <a data-toggle="tab" title="Fotos do lote" href="#lote_galeria" aria-expanded="true">Fotos do Lote</a>
                            </li>
                            <li role="presentation" class="">
                                <a data-toggle="tab" title="Vídeos do lote" href="#lote_video" aria-expanded="false">Vídeos do Lote</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="lote_galeria">
                                <div class="bx-wrapper" style="max-width: 100%;">
                                    <br class="clearfix">
                                    <p class="alert alert-warning" role="alert">Este lote não possui fotos publicadas!</p>

                                    <!--<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 329px;">
                                        <ul class="slider" style="width: 615%; position: relative; transition-duration: 0s; transform: translate3d(-329px, 0px, 0px);">
                                            <li style="float: left; list-style: none; position: relative; width: 329px;" class="bx-clone">
                                                <a href="{% static 'img/home-bg.jpg' %}" title="" class="galeria" rel="galeria">
                                                    <img src="{% static 'img/home-bg.jpg' %}" alt="" itemprop="image">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>-->

                                    <!--<div class="bx-controls bx-has-pager bx-has-controls-direction">
                                        <div class="bx-pager bx-default-pager">
                                            <div class="bx-pager-item">
                                                <a href="" data-slide-index="0" class="bx-pager-link active">1</a>
                                            </div>
                                            <div class="bx-pager-item">
                                                <a href="" data-slide-index="1" class="bx-pager-link">2</a>
                                            </div>
                                            <div class="bx-pager-item">
                                                <a href="" data-slide-index="2" class="bx-pager-link">3</a>
                                            </div><div class="bx-pager-item">
                                            <a href="" data-slide-index="3" class="bx-pager-link">4</a>
                                        </div>
                                        </div>
                                        <div class="bx-controls-direction">
                                            <a class="bx-prev" href="">Prev</a>
                                            <a class="bx-next" href="">Next</a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="tab-pane" id="lote_video">
                                <br class="clearfix">
                                <p class="alert alert-warning" role="alert">Este lote não possui vídeos publicados!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="status">
                                <a href="#">
                                    <button type="button" class="btn btn-block btn-success">Situação do LOTE</button>
                                </a>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>Status</td>
                                        <td >FECHADO</td>
                                    </tr>
                                    <tr>
                                        <td>Maior Lance</td>
                                        <td>1.750,00</td>
                                    </tr>
                                    <tr>
                                        <td>Usuário</td>
                                        <td>Lucena</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>Avaliação</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Lance mínimo</td>
                                        <td>350,00</td>
                                    </tr>
                                    <tr>
                                        <td>Incremento</td>
                                        <td>100,00</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% if user.is_anonymous %}
                        {% include 'includes/logar_lances.html' %}

                    {% else %}
                    <!--IMPORTANTE!
                    Neste caso temos duas áreas de Lances: a primeira é a de login.
                    A outra é a de lance que só aparecerá se o usuário estiver logado no sistema.-->
                        {% include 'includes/logado_lances.html' %}

                    {% endif %}

                   <!-- <div class="col-md-12 col-xs-12 text-center">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                                <li class="prev">
                                    <a href="#">← Lote Anterior</a>
                                </li>
                                <li class="active">
                                    <a href="#">Lote 005</a>
                                </li>
                                <li class="next">
                                    <a href="#">Próximo Lote → </a>
                                </li>
                            </ul>
                        </div>
                    </div>-->


                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="block-heading-two">
                            <h3><span>Histórico de Lances Recebidos</span></h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>USUÁRIO</th>
                                    <th>DATA/HORÁRIO</th>
                                    <th>VALOR</th>
                                    <th>COMISSÃO</th>
                                    <th>TAXAS</th>
                                    <th>VALOR TOTAL</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td></td>
                                    <td></td>
                                    <td><p>Nenhum registro de lance.</p></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel -->
                    </div>

                    <div class="col-lg-4">
                        <div class="block-heading-two">
                            <h3><span>Lances por Usuário</span></h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>USUÁRIO</th>
                                    <th>VALOR</th>
                                    <th>QUANTIDADE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>Nenhum registro de lance.</td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>

                <div class="row">
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p><small><center>OBS: Aquele que tentar fraudar a arrematação, além da reparação do dano na esfera cível - Arts.
                                    186 e 927 do Código Civil. Ficará sujeito as penalidades do artigo 358 do Código Penal.</center></small></p>
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>

            </div>
        </div>

    </section>


    <footer>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <span>&copy; ImperiumRN 2017 Todos os direitos reservados . Desenvolvido por </span><a href="http://www.g4systems.com.br" target="_blank">G4 SYSTEMS</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js'%}"></script>
<script src="{% static 'js/jquery.fancybox-media.js'%}"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<!-- Vendor Scripts -->
<script src="{% static 'js/modernizr.custom.js'%}"></script>
<script src="{% static 'js/jquery.isotope.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
</body>
</html>
