{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Imperium</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
<!-- Vendor Styles -->
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
<!-- Block Styles -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<link href="{% static 'css/gallery-1.css' %}" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left hidden-xs"><i class="fa fa-clock-o"></i><span>Seg - Sab 8.00 - 18.00. Domingo FECHADO</span></p>
        <p class="pull-right"><i class="fa fa-phone"></i>Tel (+55) 123-456-789</p>
      </div>
    </div>
  </div>
</div>
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'img/logoazul.png' %}" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Inicio</a></li>
						<li><a href="#">Leilões</a></li>
                        <li><a href="../../blog/">Jurídico Contábil</a></li>
                        <li><a href="../../blog/">Licitações</a></li>
						<li><a href="{% url 'imovel' %}">Imóveis</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>


<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Agenda de Leilões</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<!--<div class="container">

						<div class="row">
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Voluptatem Accusantium Doloremque</h3>
									<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                                    	<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
								</div>
							</div>
						</div>

	</div>-->
	</section>
			  <!-- Start Gallery 1-2 -->
    <section id="gallery-1" class="content-block section-wrapper gallery-1">
    	 	<div class="container">

			<div class="editContent">
	            <ul class="filter">
	                <li class="active"><a href="#" data-filter="*">Todos</a></li>
                    {% for categoria in categorias %}
	                <li><a href="#" data-filter=".titulo">{{categoria.titulo}}</a></li>
                    {% endfor %}
                </ul>
			</div>
            <!-- /.gallery-filter -->

            <div class="row">
                <div id="isotope-gallery-container">
                    {% for leilao in leiloes%}
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative pricing-box-item">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'img/works/1.jpg' %}" class="img-responsive" alt="1st gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="#" class="gallery-zoom">Ver</a>
                            </div>
                            <div class="gallery-details">
                            	<div class="editContent">
                                    <a href="{% url 'listar_lotes' leilao.pk %}"><h5>{{leilao.titulo}}</h5></a>
                            	</div>
                            	<div class="editContent">
                                	<p></p>
                                    <p>Data: {{leilao.data}}</p>
                                    <p>Local: {{leilao.endereco}}</p>
                                    <p></p>
                                    <p><b>{{leilao.get_tipo_display}}</b></p>
                            	</div>
                                <div class="editContent">
                                    {% if leilao.status == 1%}
                                    <a href="#"><span class="label label-success">{{leilao.get_status_display}}</span></a>
                                    {% endif %}
                                     {% if leilao.status == 2%}
                                    <a href="#"><span class="label label-danger">{{leilao.get_status_display}}</span></a>
                                    {% endif %}
                                    {% if leilao.status == 3%}
                                    <a href="#  "><span class="label label-warning">{{leilao.get_status_display}}</span></a>
                                    {% endif %}
                                    <!--<span class="label label-default">Default</span>
                                    <span class="label label-primary">Primary</span>
                                    <span class="label label-success">Success</span>
                                    <span class="label label-info">Info</span>
                                    <span class="label label-warning">Warning</span>
                                    <span class="label label-danger">Danger</span>-->
                            	</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- /.isotope-gallery-container -->
            </div>
            <!-- /.row -->
        <!-- /.container -->
		</div>
    </section>

<!--	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Our Organization</h2>
						<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>

						<ul class="withArrow">
							<li><span class="fa fa-angle-right"></span> Lorem ipsum dolor sit amet</li>
							<li><span class="fa fa-angle-right"></span> consectetur adipiscing elit</li>
							<li><span class="fa fa-angle-right"></span> Curabitur aliquet quam id dui</li>
							<li><span class="fa fa-angle-right"></span> Donec sollicitudin molestie malesuada.</li>
						</ul>
						<a href="#" class="btn btn-primary">Learn More</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="img/about.png" alt="About Images">
					</div>
				</div>
			</div>
		</div>
	</section>-->


	<!--<div class="about home-about">
				<div class="container">

						<div class="row">
							<div class="col-md-4">
								&lt;!&ndash; Heading and para &ndash;&gt;
								<div class="block-heading-two">
									<h3><span>Programes</span></h3>
								</div>
								<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. <br><br>Sed ut perspiciaatis iste natus error sit voluptatem probably haven't heard of them accusamus.</p>
							</div>
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>Latest News</span></h3>
								</div>
								&lt;!&ndash; Accordion starts &ndash;&gt;
								<div class="panel-group" id="accordion-alt3">
								 &lt;!&ndash; Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. &ndash;&gt;
								  <div class="panel">
									&lt;!&ndash; Panel heading &ndash;&gt;
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 1
										  </a>
										</h4>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										&lt;!&ndash; Panel body &ndash;&gt;
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 2
										  </a>
										</h4>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 3
										  </a>
										</h4>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading">
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
											<i class="fa fa-angle-right"></i> Accordion Heading Text Item # 4
										  </a>
										</h4>
									 </div>
									 <div id="collapseFour-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
										</div>
									 </div>
								  </div>
								</div>
								&lt;!&ndash; Accordion ends &ndash;&gt;

							</div>

							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>Testimonials</span></h3>
								</div>
								     <div class="testimonials">
										<div class="active item">
										  <blockquote><p>Lorem ipsum dolor met consectetur adipisicing. Aorem psum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
										  <div class="carousel-info">
											<img alt="" src="img/team4.jpg" class="pull-left">
											<div class="pull-left">
											  <span class="testimonials-name">Marc Cooper</span>
											  <span class="testimonials-post">Technical Director</span>
											</div>
										  </div>
										</div>
									</div>
							</div>

						</div>



						<br>

					  </div>

					</div>-->



	<footer>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; ImperiumRN 2017 Todos os direitos reservados . Desenvolvido por </span><a href="http://www.g4systems.com.br" target="_blank">G4 SYSTEMS</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js'%}"></script>
<script src="{% static 'js/jquery.fancybox-media.js'%}"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<!-- Vendor Scripts -->
<script src="{% static 'js/modernizr.custom.js'%}"></script>
<script src="{% static 'js/jquery.isotope.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
</body>
</html>