{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Imperium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
    <!-- Vendor Styles -->
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <!-- Block Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/gallery-1.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="pull-left hidden-xs"><i class="fa fa-clock-o"></i><span>Seg - Sab 8.00 - 18.00. Domingo FECHADO</span></p>
                    <p class="pull-right"><i class="fa fa-phone"></i>Tel (+55) 123-456-789</p>
                </div>
            </div>
        </div>
    </div>
    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'img/logoazul.png' %}" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Inicio</a></li>
                        <li><a href="#">Leilões</a></li>
                        <li><a href="../../blog/">Jurídico Contábil</a></li>
                        <li><a href="../../blog/">Licitações</a></li>
                        <li><a href="{% url 'imovel' %}">Imóveis</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    
    <section class="section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">

                        <h2>CÓDIGO DO LEILÃO: {{leilao.id}} - </h2><br>
                        <p><h4>{{leilao.titulo}}</h4></p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="about-image"><br>
                        <img src="{{ leilao.foto.url }}" height="200px" width:="40px">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-blocks">
                        <div class="info-blocks-in">
                            <h2><center>
                                <span class="label label-success">
                                    <img src="{% static 'img/law.png' %}" height="40px" width:="65px" alt="">{{leilao.get_status_display}}
                                </span>
                            </center></h2>

                            <div class="panel-body">
                                <div class="carousel-info"><center>
                                    <span class="testimonials-name"><h5>HORÁRIO MÍNIMO DE INÍCIO DA FINALIZAÇÃO</h5></span>
                                    <span class="testimonials-post">Data: {{leilao.data}}</span></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4"><br>
                    <div class="pricing-box-item">
                        <div class="carousel-info"><br><center>
                            <span class="testimonials-name"><h5>ATIVOS DISPONÍVEIS NESTE LEILÃO</h5></span>
                            <hr>
                            {% for lote in lotes %}
                            <span class="testimonials-post">{{lote.titulo}}</span><br>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    
    <section id="inner-headline">
        <div class="container">
            <div class="row"><center>
                <div class="col-md-12">
                    <h3 class="pageTitle">LOTES</h3>
                </div></center>
            </div>
        </div>
    </section>
    {% for lote in lotes %}
    <div class="about home-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing-box-item">
                        <div class="pricing-container">

                            <div class="col-md-3">
                                <div class="block-heading-two">
                                    <h4><p>LOTE: {{lote.num_lote}}</p></h4>
                                </div>
                                <div class="testimonials">
                                    <div class="about-image">
                                        <p><img src="/media/{{lote.fotos.thumbnail}}" class="img-responsive"></p>
                                    </div>
                                    <h2>
                                            <span class="label label-primary text-center">
                                                <img src="{% static 'img/law.png' %}" height="40px" width:="65px" alt="">{{lote.leilao.get_tipo_display}}
                                            </span>
                                    </h2>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="block-heading-two">
                                    <h4><span>{{lote.titulo}}</span></h4>
                                </div>

                                <div class="pricing-terms">
                                    <b>Descrição do Lote:</b>    {{lote.descricao}}
                                </div>

                                <div class="pricing-terms text-center">
                                    <dl class="dl-horizontal">
                                        <dt>Data:</dt>
                                        <dd>{{lote.leilao.data}}</dd>
                                        <dt class="pull-rigth">Lance Inicial:</dt>
                                        <dd>{{lote.valor_lance_minimo}}</dd>
                                        <dt>Valor de incremento:</dt>
                                        <dd>{{lote.incremento}}</dd>
                                    </dl>

                                    <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Visitas: <span class="input-group-addon"> </span></th>
                                        <th class="text-center">Lances: <span class="input-group-addon">
                                            {% for lance in lances %}
                                                {% if lance.lote == lote %}
                                                <span>
                                                    R${{lance.valor}}<br>
                                                </span>
                                                {% endif %}
                                            {% endfor %}
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <br>
                                <div class="panel-body ">

                                    <a href="#" style="margin-left: 15px" class="btn-block btn-outline btn-primary btn-lg">
                                        <img src="{% static 'img/create-group-button.png' %}" alt=""> Cadastrar
                                    </a>

                                    <a href="{% url 'visualizar_leilao' lote.leilao.pk %}" style="margin-left: 15px" class="btn-block btn-outline btn-primary btn-lg">
                                        <img src="{% static 'img/eye.png' %}" alt=""> Ver Detalhes
                                    </a>

                                    <a href="{% url 'lances' lote.pk %}" style="margin-left: 15px" class="btn-block btn-outline btn-primary btn-lg">
                                        <img src="{% static 'img/law1.png' %}" alt="">  Auditório de Lances
                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <footer>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <span>&copy; ImperiumRN 2017 Todos os direitos reservados . Desenvolvido por </span><a href="http://www.g4systems.com.br" target="_blank">G4 SYSTEMS</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js'%}"></script>
<script src="{% static 'js/jquery.fancybox-media.js'%}"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<!-- Vendor Scripts -->
<script src="{% static 'js/modernizr.custom.js'%}"></script>
<script src="{% static 'js/jquery.isotope.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
</body>
</html>
