{% extends 'inicio_admin.html' %}
{% load bootstrap3 l10n %}
{% block page-wrapper %}
<div class="col-md-12">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Leilões Cadastrados</div>

            <div class="panel-options">
                <a href="{% url 'add_leilao' %}" data-rel="collapse"><i class="glyphicon glyphicon-plus"></i> Novo Cadastro</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Status</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for leilao in leiloes %}
                <tr>
                    <td>{{leilao.titulo}}</td>
                    <td>{{leilao.categoria}}</td>
                    <td>{{leilao.status}}</td>
                    <td>
                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-eye-open"></i> Visualizar  |</a>
                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-edit"></i> Editar  |</a>
                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-trash"></i> Remover</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="row">
            <div class="col-xs-12 pull-right">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination pull-right">
                        <li class="prev disabled">
                            <a href="#">← Anterior</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li class="next">
                            <a href="#">Próximo → </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}