{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Imperium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
    <!-- Vendor Styles -->
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <!-- Block Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/gallery-1.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="pull-left hidden-xs"><i class="fa fa-clock-o"></i><span>Seg - Sab 8.00 - 18.00. Domingo FECHADO</span></p>
                    <p class="pull-right"><i class="fa fa-phone"></i>Tel (+55) 123-456-789</p>
                </div>
            </div>
        </div>
    </div>
    <!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'img/logoazul.png' %}" alt="logo"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Inicio</a></li>
                        <li><a href="#">Leilões</a></li>
                        <li><a href="../../blog/">Jurídico Contábil</a></li>
                        <li><a href="../../blog/">Licitações</a></li>
                        <li><a href="{% url 'imovel' %}">Imóveis</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% for lote in lotes %}
    <section class="section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2> {{lote.titulo}} </h2>
                        <p> {{lote.descricao}} <br> </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p><center><dt><h4>Total de Lotes: {{total_lotes}}</h4></dt></center></p>
                            </div>
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="about-image">
                        <img src="{% static 'img/slides/2.jpg' %}">
                    </div>
                    <div class="about-text">
                        <p><center>
                        <a href="{{ lote.leilao.edital.url }}" style="margin-right: 30px" class="col-md-5  col-xs-12 btn-outline btn-primary btn-lg">
                            <img src="{% static 'img/file.png' %}" alt=""> Edital do Leilão
                        </a>

                        <a href="#" style="margin-left: 15px" class="col-md-6 col-xs-12 btn-outline btn-primary btn-lg">
                            <img src="{% static 'img/law.png' %}" alt=""> Auditório de Lances
                        </a>
                    </center></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="info-blocks">
                        <div class="info-blocks-in">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <center>FALTAM 31D 0:11:20 PARA O INICIO DO LEILAO</center>
                                </div>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Código:</dt>
                                    <dd>{{lote.leilao.pk}}</dd><br>
                                    <!--<dt>Autos nº:</dt>-->
                                    <!--<dd>0000009-21.2017.5.13.0020</dd><br>-->
                                    <dt>Exequente:</dt>
                                    <dd>SIND DOS TRAB NA IND CERAMICA E OLA DERIV. DA PB</dd><br>
                                    <dt>Executado:</dt>
                                    <dd>CERAMICA NOVO MUNDO LTDA - EPP</dd><br>
                                    <dt>Local do pregão:</dt>
                                    <dd>Rodovia BR 230, KM 37,5 S/N - Tibiri 2 - SANTA RITA-PB</dd><br>
                                    <dt>Leilão:</dt>
                                    <dd>{{lote.leilao.titulo}}</dd><br>
                                    <dt>Status:</dt>
                                    <dd><h3>
                                        <div class="label label-success">
                                            <img src="{% static 'img/law.png' %}" height="20px" width:="25px" alt="">
                                            {{lote.leilao.get_status_display}}
                                        </div></h3>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="inner-headline">
        <div class="container">

            <div class="row"><center>
                <div class="col-lg-12">
                    <h3 class="pageTitle">LOTE: {{lote.num_lote}}</h3>
                </div></center>
            </div>
        </div>
    </section>

    <div class="about home-about">
        <div class="container">

            <div class="row">

                <div class="col-md-4">
                    <div class="block-heading-two">
                        <h4><span>IMPORTANTE</span></h4>
                    </div>
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote><p>Para dar seu lance clique em um dos valores abaixo ou insira o valor desejado manualmente no formulário abaixo.</p></blockquote>

                            <div class="carousel-info">
                                <a href="#">
                                    <img alt="" src="{% static 'img/cadeado.png' %}" height="60px" class="pull-left img-responsive">
                                    <div class="pull-left">
                                        <span class="testimonials-name">FAÇA SEU CADASTRO/LOGIN.</span>
                                        <span class="testimonials-post">Clique aqui e veja como participar!</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="pricing-box-item">

                        <div class="pricing-container">
                            <ul>
                                <li><i class="icon-ok"></i> Avaliação: <b>R$ 100.000,00</b></li>
                                <li><i class="icon-ok"></i> Taxas: <b>R$ {{lote.taxa_adm}}</b></li>
                                <li><i class="icon-ok"></i> Incremento: <b>R$ {{lote.incremento}}</b></li>
                                <li><i class="icon-ok"></i> Leilão: <b>{{lote.leilao.data}}</b></li>
                                <li><i class="icon-ok"></i> Lance inicial em Leilão: <b>R$ 100.000,00</b></li>

                            </ul>
                        </div>
                    </div>

                </div>



                <div class="col-md-4">

                    <div class="block-heading-two">
                        <h4><span>INFORMAÇÔES DE ABERTURA</span></h4>
                    </div>
                    <div class="pricing-box-item">
                        <div class="pricing-terms">
                            Incremento:
                            <b class="pull-right">
                                <p>R$ 1.000,00</p>
                            </b>
                        </div>
                        <div class="pricing-terms">
                            Total de visualizações:
                            <b class="pull-right">
                                <p>R$ 1.000,00</p>
                            </b>
                        </div>
                        <div class="pricing-terms">
                            Total de Lances:
                            <b class="pull-right">
                                <p>R$ 1.000,00</p>
                            </b>
                        </div>
                        <div class="pricing-terms">
                            <div class="pull-left">Arrematantes homologados:</div>
                            <b class="pull-right">
                                <p>R$ 1.000,00</p>
                            </b>
                        </div>
                    </div>
                    <!-- Accordion ends -->

                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-md-12">
                    <!-- Heading and para -->
                    <div class="block-heading-two">
                        <h3><span>Histórico de lances recebidos</span></h3>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>USUÁRIO/PLACA</th>
                                        <th>LOCALIDADE</th>
                                        <th>DATA/HORÁRIO</th>
                                        <th>VALOR</th>
                                        <th>COMISSÃO</th>
                                        <th>TAXAS</th>
                                        <th>VALOR TOTAL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><p>Nenhum registro de lance.</p></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>

                    <div class="row">
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p><small><center>OBS: Aquele que tentar fraudar a arrematação, além da reparação do dano na esfera cível - Arts.
                                        186 e 927 do Código Civil. Ficará sujeito as penalidades do artigo 358 do Código Penal.</center></small></p>
                                </div>
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>


                </div>


            </div>

        </div>

    </div>
    {% endfor %}

    <footer>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright">
                            <p>
                                <span>&copy; ImperiumRN 2017 Todos os direitos reservados . Desenvolvido por </span><a href="http://www.g4systems.com.br" target="_blank">G4 SYSTEMS</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="social-network">
                            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js'%}"></script>
<script src="{% static 'js/jquery.fancybox-media.js'%}"></script>
<script src="{% static 'js/jquery.flexslider.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<!-- Vendor Scripts -->
<script src="{% static 'js/modernizr.custom.js'%}"></script>
<script src="{% static 'js/jquery.isotope.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/animate.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
</body>
</html>
