{% block conteudo %}
<div class="page-title">
	<div class="title_left">
		<h3>Grupos</h3>
	</div>
</div>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
                <h2>Lista 
					<small>
						Lista com todos os Grupos de usuários. Clique numa linha para ver detalhes ou editar as informações.
					</small>
				</h2>
            	<div class="clearfix"></div>
            </div>

			<div class="x_content">
				<br>
				<table id="datatable-responsive" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody class="rowlink" data-link="row">
						{% for grupo in grupos %}
						<tr>
							<td><a href="{% url 'grupo_editar' grupo.pk %}">{{ grupo.name }}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
