{% extends 'inicio_admin.html' %}
{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block page-wrapper %}
<div class="col-md-12">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Pessoas Físicas Cadastrados</div>

             <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal -->


            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-plus"></i> Novo Cadastro</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for pf in object_list %}
                <tr>
                     <td>{{ pf.nome }}</td>
                    <td>
                        <a data-toggle="modal" href="{% url 'editar_pf' pf.id %}" data-target="#modal" data-tooltip href="#" data-rel="collapse"><i class="glyphicon glyphicon-edit"></i> Editar  |</a>
                        <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-trash"></i> Remover</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="row">
            <div class="col-xs-12 pull-right">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination pull-right">
                        <li class="prev disabled">
                            <a href="#">← Anterior</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li class="next">
                            <a href="#">Próximo → </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}