<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title">Adicionar Pessoa Fisica</h2>
        </div>

        <div class="modal-body">

            <div class="container">
                <div class="row clearfix">

                </div>
            </div>
        </div>
    </div>
</div>
</div>