{% extends "layout_admin.html" %}
{% load staticfiles %}
{% block page-wrapper %}

	<section id="main-slider" class="no-margin">
		<div class="carousel slide">

			<div class="carousel-inner">
				<div class="img" >
					<div class="container">
						<div class="row slide-margin">
							</div>
						</div>
					</div>
				</div>
			</div><!--/.item-->

			</div><!--/.carousel-inner-->
		</div><!--/.carousel-->


	</section><!--/#main-slider-->
{% endblock %}
