{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>ImperiumRN Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'admin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- styles -->
    <link href="{% static 'admin/css/styles.css' %}" rel="stylesheet">
	  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	  <link rel="icon" type="image/png" href="{% static 'img/leilao.png' %}" />
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="/">Imperium Admin</a></h1>
	              </div>
	           </div>
	           <div class="col-md-5">
	              <div class="row">
	                <div class="col-lg-12">
	                  <div class="input-group form">
	                       <input type="text" class="form-control" placeholder="Buscar...">
	                       <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Buscar</button>
	                       </span>
	                  </div>
	                </div>
	              </div>
	           </div>
	           <div class="col-md-2">
	              <div class="navbar navbar-inverse" role="banner">
	                  <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	                    <ul class="nav navbar-nav">
	                      <li class="dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Minha Conta<b class="caret"></b></a>
	                        <ul class="dropdown-menu animated fadeInUp">
	                          <li><a href="profile.html">Perfil</a></li>
	                          <li><a href="login.html">Sair</a></li>
	                        </ul>
	                      </li>
	                    </ul>
	                  </nav>
	              </div>
	           </div>
	        </div>
	     </div>
	</div>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-2">
		  	<div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a href="{% url 'administrador' %}"><i class="glyphicon glyphicon-home"></i> Início</a></li>
                    <li><a href="{% url 'listar_leiloes' %}"><i class="fa fa-gavel"></i> Leilões</a></li>
                    <li><a id="adicionar_pf" href="{% url 'adicionar_pf' %}"><i class="fa fa-th-list" aria-hidden="true"></i> Clientes</a></li>
                    <li><a href="{% url 'listar_imovel' %}"><i class="fa fa-building" aria-hidden="true"></i> Imovéis</a></li>
                    <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Comitentes</a></li>
                    <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Leiloeiros</a></li>
                <!--    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Páginas
                            <span class="caret pull-right"></span>
                         </a>
                         &lt;!&ndash; Sub menu &ndash;&gt;
                         <ul>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>-->
                </ul>
             </div>
		  </div>
			<div class="col-md-10">
		  	<div class="row">
                <div id="page-wrapper">
                    {% block page-wrapper %}
					<div id="adicionar_pf_modal" class="modal fade">
    				</div>
                    {% endblock %}

                </div>

		  	</div>



		  </div>
		</div>
    </div>

    <footer>
         <div class="container">

            <div class="copy text-center">
               © ImperiumRN 2017. Todos os direitos reservados! Desenvolvido e adaptado por <a href='http://g4systems.com.br/' target="_blank">G4 SYSTEMS</a>
            </div>

         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/custom.js' %}"></script>



  </body>
</html>
