{% load i18n %}
<nav>
    <ul class="pager">
        {% if page.has_previous %}
        <li class="pager previous">
            <a href="?page={{ page.previous_page_number }}{{ GET_string }}"
               title="{% trans "More recent entries" %}">&laquo; Anterior</a>
        </li>
        {% endif %}

        {% for page_number in begin %}
        <li class="page {% ifequal page.number page_number %}active{% endifequal %}">
            {% ifequal page.number page_number %}
            <a href="/blog">Página {{ page_number }}</a>
            {% else %}
            <a href="?page={{ page_number }}{{ GET_string }}"
               title="{% trans "Entries page" %} {{ page_number }}">Página {{ page_number }}</a>
            {% endifequal%}
        </li>
        {% endfor %}


        {% if middle %}
        <li class="disabled">
            <a href="#">&hellip;</a>
        </li>
        {% for page_number in middle %}
        <li class="page {% ifequal page.number page_number %}active{% endifequal %}">
            {% ifequal page.number page_number %}
            <a href="/blog">Página {{ page_number }}</a>
            {% else %}
            <a href="?page={{ page_number }}{{ GET_string }}"
               title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
            {% endifequal%}
        </li>
        {% endfor %}
        {% endif %}

        {% if end %}
        <li class="disabled">
            <a href="#">&hellip;</a>
        </li>
        {% for page_number in end %}
        <li class="pager {% ifequal page.number page_number %}active{% endifequal %}">
            {% ifequal page.number page_number %}
            <a href="#">{{ page_number }}</a>
            {% else %}
            <a href="?page={{ page_number }}{{ GET_string }}"
               title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
            {% endifequal%}
        </li>
        {% endfor %}
        {% endif %}

        {% if page.has_next %}
        <li class="pager next">
            <a href="?page={{ page.next_page_number }}{{ GET_string }}"
               title="{% trans "More old entries" %}">Próximo &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>


<!--
{% load i18n %}
<nav>

  <ul class="pager">

    {% if page.has_previous %}
    <li class="previous">
      <a href="?page={{ page.previous_page_number }}{{ GET_string }}"
         title="{% trans "More recent entries" %}"> &larr;</a>
    </li>
    {% endif %}


      <li class="page">
      {% blocktrans with current_page=page.number total_page=page.paginator.num_pages %}Página {{ current_page }} de {{ total_page }}{% endblocktrans %}
      </li>

    &lt;!&ndash;{% for page_number in begin %}
    <li class="page{% ifequal page.number page_number %} current{% endifequal %}">
      {% ifequal page.number page_number %}
      {{ page_number }}
      {% else %}
      <a href="?page={{ page_number }}{{ GET_string }}"
         title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
      {% endifequal%}
    </li>
    {% endfor %}

   {% if middle %}
    <li class="ellipsis">&hellip;</li>
    {% for page_number in middle %}
    <li class="page{% ifequal page.number page_number %} current{% endifequal %}">
      {% ifequal page.number page_number %}
      {{ page_number }}
      {% else %}
      <a href="?page={{ page_number }}{{ GET_string }}"
         title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
      {% endifequal%}
    </li>
    {% endfor %}
    {% endif %}

    {% if end %}
    <li class="ellipsis">&hellip;</li>
    {% for page_number in end %}
    <li class="page{% ifequal page.number page_number %} current{% endifequal %}">
      {% ifequal page.number page_number %}
      {{ page_number }}
      {% else %}
      <a href="?page={{ page_number }}{{ GET_string }}"
         title="{% trans "Entries page" %} {{ page_number }}">{{ page_number }}</a>
      {% endifequal%}
    </li>
    {% endfor %}
    {% endif %}
&ndash;&gt;
    {% if page.has_next %}
    <li class="next">
      <a href="?page={{ page.next_page_number }}{{ GET_string }}"
         title="{% trans "More old entries" %}">&rarr;</a>
    </li>
    {% endif %}
  </ul>
</nav>
-->
