   <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title text-center"><p>Área de Lances</p></h1>
                            </div>
                            <div class="panel-body">
                                <form target="_self" method="post">{% csrf_token %}
                                    <div class="form-group">
                                        <label >Usuário</label>
                                        <input type="text" class="form-control" name="usuario" placeholder="Seu Login" required="">
                                    </div>
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control"  name="senha" placeholder="Sua senha!">
                                            <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Entrar</button>
                                    </span>
                                        </div>
                                    </div><br>
                                    <div class="form-group text-center">
                                        <a href="#" title="Cadastro de arrematante" class="btn btn-default pull-left">Cadastro</a>
                                        <a href="#" title="Recuperar senha de acesso" class="btn btn-danger pull-right">Lembrar senha</a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
