 {% load bootstrap3 %}
  <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title text-center"><p>Área de Lances</p></h1>
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>
                    <i class="fa fa-warning"></i>
                    Aviso:
                </h4>
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}
            <div class="panel-body">
                    <form  method="post" class="form-horizontal">{% csrf_token %}
                    <div class="form-group">
                        {% bootstrap_form lance_form layout='horizontal' %}
                    </div>
                    <div class="input-group pull-right">
                        <button type="submit" class="btn btn-primary">Enviar Lance</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



